.face-snap-card {
    width: 350px;
    height: 550px;
    overflow: hidden;
    margin:2%;
    border: solid rgb(241, 241, 241) 0.5px;
    border-radius: 5px;
    box-shadow: 6px 6px 6px -4px rgba(0,0,0,0.36);
    margin-bottom: 5%;
   p{
    text-align:justify-content;
  }
.location{
  color: rgb(180, 180, 180);
  font-size: 12px;
  font-style: italic;
}
  small{
    font-size:12px;
  }
    img {
      width: 100%;
    }
    .snapped{
          color: rgb(221, 48, 106);
          font-size: 22px;
    }
    .title{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 2vw;
      color: rgb(179, 106, 118);
    }
    button{
        color: rgb(44, 44, 44);
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
  }
